<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>File Tracking System</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/Home/assets/img/favicon.png" rel="icon">
    <link href="~/Content/Home/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/Home/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Home/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/Home/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/Home/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/Home/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/Home/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Bocor - v2.0.0
    * Template URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>

    <header id="header">
        <div class="container d-flex">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="#">MIPBS<span>.</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#header">Home</a></li>

                    <li><a href="#contact">Contact Us</a></li>

                    <li class="get-started"><a href="@Url.Action("Login","User")">Login</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <!-- End Hero -->

    <section id="hero">

        <div class="container">
            <div class="row d-flex align-items-center">
                <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
                    <h1>Your new digital experience with MIPBS</h1>


                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                    <img src="~/Content/Home/assets/img/hero-img.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section>
    <section>
        @RenderBody()
    </section>
    <main id="main">

        <!-- ======= Clients Section ======= -->
        <!-- End Clients Section -->
        <!-- ======= About Section ======= -->
        <!-- ======= Services Section ======= -->
        <!-- End Services Section -->
        <!-- ======= Features Section ======= -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact section-bg">
            <div class="container">

                <div class="section-title">
                    <h2 data-aos="fade-in">Contact</h2>
                    <p data-aos="fade-in">.</p>
                </div>

                <div class="row">

                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="info-box" data-aos="fade-up">
                                    <i class="bx bx-map"></i>
                                    <h3>Our Address</h3>
                                    <p>153 LEOPOLD TAKAWIRA</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                                    <i class="bx bx-envelope"></i>
                                    <h3>Email Us</h3>
                                    <p>inforecordz@gmail.com<br></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                                    <i class="bx bx-phone-call"></i>
                                    <h3>Call Us</h3>
                                    <p>+263 242 706893<br>0772 317 864</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main>
    <footer id="footer">



        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>MIPBS</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/Home/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Home/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/Home/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/Home/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/Home/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/Content/Home/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/Home/assets/js/main.js"></script>

</body>

</html>