@model IEnumerable<File_tracking_system.mark_out>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Statistical analysis</title>
    <link href="~/Content/kellz/css/style/style.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/kellz/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/kellz/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/kellz/css/animate.min.css">



</head>
<body>


    <div class="admin1" id="admin1">
        <div class="container">
            <div class="row">



                <div class="col-lg-12 col-md-12">

                    <ol class="breadcrumb">
                        <li>
                            <h3>
                                <b>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                                    STATISTICAL ANALYSIS
                                </b>
                            </h3>
                        </li>

                    </ol>
                </div>


            </div>
        </div>
    </div>

    <!-- /*........................End of admin1..............................*/-->
    <!-- /*.........................admin2.................................*/-->
    <!--div class="admin2" id="admin2">
            <div class="container">
                 <div class="row">



                       <div class="col-lg-12 col-md-12" >

          <ol class="breadcrumb">
           <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#">LogOut</a></li>

          </ol>
                       </div>


                 </div>
            </div>
    </div>
      <!-- /*.......................End of admin 2...............................*/-->
    <!--/*........................... admin3..............................*/-->

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        </h4>
                    </div>

                    <div class="box-body" id="box-body">
                        <div class="box-group" id="accordion">

                            <div class="panel box box-primary">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">


                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse ">
                                    <div class="box-body">

                                        <!---ul >
                                                                     <li><a href="admin_add.html">ADD BABY BORN</a></li><br/>
                                                                     <li><a href="admin_search.html">SEARCH BIRTH RECORDS</a></li><br/>
                                                                     <li><a href="admin_update.html">UPDATE BIRTH RECORDS</a></li><br/>
                                                                     <li><a href="admin_delete.html">DELETE BIRTH RECORDS</a></li><br/>
                                                                    <li><a href="admin_viewall.html">VIEW  ALL BIRTH RECORDS</a></li><br/>
                                                               </ul-->
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                <div class="addadmin ">
                    <h1></h1>
                    <div class="box-header with-border">
                        <h3 class="box-title"> Birth Report form</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" "@Url.Action("search","mark_out")" method="POST">
                    
                        <div class="box-body">
                            <div class="col-md-3">
                                <div class="form-group">


                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="Filename" placeholder="filename" required>

                                    </div>
                                </div>

                                <!--div class="form-group">
              <label >DATE OF BIRTH</label>

              <div class="col-md-12">
                <input type="text" class="form-control" name="addob" placeholder="Enter Date Of Birth">
              </div>
            </div------>
                                <div class="form-group">

                                    <div class="col-md-12">
                                        <input type="text" class="form-control" name="referencenumber" placeholder="Enter reference number" required>

                                    </div>
                                </div>



                            </div>


                            <!--div class="form-group">
          <label >PL</label>

          <div class="col-md-12">
            <input type="text" class="form-control" name="adpob" placeholder="Enter Date Of Birth">
          </div>
        </div----->




                            <div class="clear">
                                <h3 class="box-title">analysis</h3>
                            </div>
                            <!----div class="col-md-6">

        <div class="form-group">
           <label >CITY</label>

           <div class="col-md-12">
             <input type="text" class="form-control" name="adcity" placeholder="ENTER CITY">
           </div>
         </div>
          </div---->

                            <div class="col-md-6">
                                <div class="form-group">


                                    <div class="col-md-12">
                                        <p>

                                    </div>
                                </div>
                            </div>
                            </p>
                            <div class="col-md-3">
                                <div class="form-group">


                                    <div class="col-md-6">

                                        <button type="submit" name="submit">generate</button>
                                    </div>
                                </div>
                            </div>


                            <div class="clear">

                            </div>


                        </div>


                    </form>




                </div>

            </div>
        </div>
    </div>
    </div>




    <!-- /*....................... End of admin3..................*/-->
    <!-- /*.....................footer home.............................*/-->
    <div class="clear">	</div>

    <div id="footer" class="footer">
        <div class="container">
            <div class="row">
                Powered by tadiewa97
                <i class="fa fa-copyright" aria-hidden="true"></i>
                copyright 2020
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/kellz/js/jquery.min.js"></script>

    <script src="~/Content/kellz/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/kellz/js/bootstrap.min.js"></script>

</body>
</html>
